extends ../_layouts/layout.pug
block styles
  link(rel="stylesheet", href="/css/cart.css")
block content
  main
    if cart.length > 0
      ul.cart__item-list
        each item in cart
          li.cart__item
            h1 #{item.product.title}
            h2 Quantity: #{item.quantity}
            form(action="/cart-delete-item", method="POST")
              input(type="hidden", name="productId", value=item.product._id)
              button.btn.danger(type="submit") DELETE
      hr
      div.centered
        form(action="/create-order", method="POST")
          button.btn(type="submit") Order
    else
      h1 No products in cart!
