extends ../_layouts/layout.pug
block styles
  link(rel="stylesheet", href="/css/product.css")
block content
  main
    if cartProducts.length > 0
      ul
        each cartProduct in cartProducts
          li
            p #{cartProduct.product.title} (#{cartProduct.quantity})
            form(action="/cart-delete-item", method="POST")
              input(type="hidden", name="id", value=cartProduct.product.id)
              input(type="hidden", name="price", value=cartProduct.product.price)
              button.btn(type="submit") DELETE
    else
      h1 No products in cart!




//- .grid
//-         each cartProduct in cartProducts
//-           article.card.product-item
//-             header.card__header
//-               h1.product__title= cartProduct.product.title
//-             div.card__image
//-               img(src= cartProduct.product.image, alt="A Book")
//-             div.card__content
//-               h2.product__price= Intl.NumberFormat('en-CA', { style: 'currency', currency: 'CAD' }).format(cartProduct.product.price)
//-               p.product__description= cartProduct.product.description