extends ../_layouts/layout.pug
block content
  main
    if orders.length > 0
      ul
        each order in orders
          li
            h1= order.id
            ul
              each product in order.products
                li #{product.title} (#{product.orderItem.quantity})
    else
      h1 Nothing here!
